@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Teko&display=swap');

.App {
  /* background-color: rgb(206, 201, 195); */
  height: 100vh !important;
  background-size: cover !important;
  background-image: url(../assets/img/Tecno.jpg);
  text-align: center;
}

/*----------Cards----------*/
.cards {
  background-image: url(../assets/img/Tecno.jpg);
  background-size: cover;
}

.contenedor-card {
  width: 24rem;
  margin: 2rem;
  color: black;
  
}

.contenedor-padre {
  display: inline-block;
}

.contenedor-padre:hover {
  transform: scale(1.05);
  transition: 1000ms;
}

.imagen-card {
  height: 40vh;
}

.btn-comprar:hover{
  transition: 1ms !important;
  background-color: #e7ddf9 !important;
}

/*----------Footer----------*/
.imagen-about{
  height: 18rem;
}

.contenedor-about {
  width: 15rem;
  margin: 2rem;
  color: black;
}
/*----------Home----------*/
.banner {
  width: 100%;
}

.container {
  margin-top: 5px;;
}

/*----------Cart----------*/
.carrito-icon {
  width: 2.5rem;
  margin-left: 2rem;
}


.cart-container {
  width: 70rem;
  height: 30rem;
  border: solid;
  border-radius: 1rem;
  border-color: white;
  border: 0!important;
  -webkit-box-shadow: 5px 5px 31px 0px rgba(83, 63, 117, 0.4);
  -moz-box-shadow: 5px 5px 31px 0px rgba(83, 63, 117, 0.4);
  box-shadow: 5px 5px 31px 0px rgba(83, 63, 117, 0.4);
  color: white;
  background-color: white;
}

.col-5{
  color: white; 
  background-color: #554370;
  border-radius: 1rem;
  margin: 0 !important;
}

.img-fluid{
  width: 70px;
  height: 70px;
}

.a{
  color: #453d53;
  text-decoration: none;
  padding: 5px;
  border: none;
}
.close{
  margin: 100px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: white;
}

.card-container{  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  height: auto;
}

.row{
  margin: 20px;
}
.tittle{
  margin: 10px;
  margin-bottom: 15px;
}
@media(max-width:767px){
  .card-container{
      margin: 3vh auto;
  }
}

@media(max-width:767px){
  .col-7{
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
  }
}

@media(max-width:767px){
  .col-5{
  border-top-right-radius: unset;
  border-bottom-left-radius: 1rem;
  }
}

.b-style{
  background-color:#453d53 !important;
  border-color: white !important;
  width: 10rem !important;
  height: 2rem !important;

}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content:baseline !important;


}

.select-form, .control-form{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-container{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  text-align: center !important;
  justify-content: flex-end !important ;
}

.b-style:hover{
  background-color:#e7ddf9 !important;
  color: #453d53 !important;
  transform: scale(1.1);
}
.titulo-home{
  color: #453d53;
  margin-top: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col-7{
  background-color: white;
  color: #453d53;
  border-radius: 1rem;
}

/*----------Footer----------*/

.pie {
  background-color: darkblue;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
} 

.copy {
  margin: 0;
  margin: 0.4rem;
  color: white;
}

.git {
  width: 2rem;
  margin: 0.4rem;
}

/*----------Seccion modificar productos ----------*/
.sideBar{
   border-radius: 10px;
   height: 100%;
   width: 220px;
   background-color: #faf8fc;
   opacity: 90%;
   color: #0a0a0a;
   margin-left: 120px;
   margin-right: 15px;
   margin-bottom: 35px;
}

.sidebarList{
  height: auto;
  padding-left: 3px;
  width: 100%;
  align-items: center;
}

.sidebarList .row{
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 3px;
}

.sidebarList .row:hover{
  cursor:pointer;
  width: 99%;
  background-color: #151516;
  color: white;
}


.ContenedorModPadre{
  display:flex;
  margin-left: 10px;
  height: 60%;
}

.ContenedorMod{
  width: 60%;
  background-color: #fcf9fc;
  opacity: 90%;
  border-radius: 10px;
  color: rgb(56, 55, 55);
}

.fieldProduct{
  background-color: #5f5f5f;
  margin-bottom: 10px;
}

.labelMod {
color:#0a0a0a;
}


