.App {
  background-color: rgb(206, 201, 195);
  text-align: center;
}


section {
  color: #fff;
  background-color: #ffb6b9b0;
  height: 100vh;
}

.navBg {
  background-color: #23135a;
}

.adminNav {
  background-color: chocolate;
}